.roll-table {
    display: flex;
    flex-direction: column;
    width: calc(90%);
    max-width: 500px;
    margin: 0px auto auto;
    border-left: 2px solid var(--color-text-strong);
    border-right: 2px solid var(--color-text-strong);
    border-bottom: 2px solid var(--color-text-strong);
}

.header-row {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    height: 28px;
    border-top: 2px solid var(--color-text-strong);
    border-bottom: 2px solid var(--color-text-strong);
    position: fixed;
    background-color: var(--color-accent);
    color: var(--color-text-weak);
}
.table-content {
    margin-top: 30px;
}

.table-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 20px;
    background-color: var(--color-fg-main);
    color: var(--color-text-main);
}
.table-row:nth-child(even) {
    background-color: var(--color-top-main);
}

.roll-col {
    width: 90px;
    height: 100%;
    display: flex;
}

.name-col {
    width: calc(100% - 90px);
    height: 100%;
    display: flex;
}

.header-row-text {
    font-size: 16px;
    font-weight: bold;
    margin: auto;
}
.table-row-text {
    font-size: 14px;
    margin: auto;
}


@media only screen and (min-width: 600px) {
    .table-row {
        height: 30px;
    }
    .header-row {
        height: 36px;
    }
    .table-content {
        margin-top: 40px;
    }
}