.page-content {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - var(--nav-bar-height) - var(--action-bar-height) - var(--page-header-height));
}