.col {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.action-select {
    margin: 0px auto;
    width: 300px;
    display: flex;
    flex-direction: row;
    height: 50px;
}

label {
    text-align: center;
    margin: auto;
    width: 35%;
}

.select-component {
    margin: auto;
    width: 60%;
    height: var(--action-input-height);
}

.separator {
    width: 90%;
    max-width: calc(320px);
    height: 1px;
    margin: auto auto 5px ;
    background-color: var(--color-text-strong);
}