.action-select {
    margin: 0px auto;
    width: 300px;
    display: flex;
    flex-direction: row;
    height: 50px;
}

label {
    text-align: center;
    margin: auto;
    width: 35%;
}

.select-component {
    margin: auto;
    width: 60%;
    height: var(--action-input-height);
}