body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, ul {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

:root {
  --color-bg-main: #cccccc;
  --color-bg-dark: #777777ce;
  --color-bg-dark-2: #444444c7;
  --color-fg-main: #eeeeee;
  --color-top-main: #ffffff;
  --color-text-main: #343536;
  --color-text-strong: #030304;
  --color-text-weak: #e9fffe;
  --color-accent: #1457bd;
  --color-alt: #414550;

  --action-bar-height: 34px;
  --action-height: 50px;
  --action-width: 300px;
  --action-label-width: 30%;
  --action-input-height: 30px;
  --action-border-radius: 6px;

  --nav-bar-height: 70px;

  --page-header-height: 65px;
}

.action-input {
  border: none;
  border-radius: var(--action-border-radius);
  background-color: var(--color-top-main);
  box-shadow: 2px 2px 6px rgb(87, 87, 87);
  height: var(--action-height);
}